{
    "tabWidth": 2,
    "printWidth": 120,
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-css-order"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
