.container {
  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: var(--kocina-breakpoint-l);
}

@media (min-width: 640px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 960px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.container::before,
.container::after {
  display: table;
  content: "";
}

.container::after {
  clear: both;
}

.container > :last-child {
  margin-bottom: 0;
}

.container .container {
  padding-right: 0;
  padding-left: 0;
}
