.hero {
  position: relative;
  border-radius: 1.5rem;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 100%);
}

// TODO Choose one image.
.hero-family {
  background-image: url("../img/family-diner.jpg");
}

.hero-wine {
  background-image: url("../img/serving-wine.jpg");
}

.hero-plates {
  background-image: url("../img/serving-plates.jpg");
}

.hero-title {
  font-family: "Montserrat", sans-serif;
}

.hero-title,
.hero-text {
  position: relative;
  color: #fff;
  text-shadow: 1px 1px 2px #3d3d3d;
}
