:root {
  // TODO Can you use CSS vars in @media?
  --kocina-breakpoint-s: 640px;
  --kocina-breakpoint-m: 960px;
  --kocina-breakpoint-l: 1200px;
  --kocina-breakpoint-xl: 1600px;

  --color-black: #000;
  --color-white: #fff;
  --color-gray: #787878;
  --color-gray-dark: #4a4a4a;
  --color-primary: #eb4a36;

  --text-color-default: var(--color-gray-dark);

  --transition-duration-250: 0.25s;
  --transition-duration-300: 0.3s;
  --transition-timing-enter: ease-in;
  --transition-timing-leave: ease-out;
  --transition-timing-function-default: cubic-bezier(0.4, 0, 0.2, 1);
}

// @see https://www.npmjs.com/package/postcss-custom-media
@custom-media --kocina-media-breakpoint-s-max (max-width: 639px);
@custom-media --kocina-media-breakpoint-s-min (min-width: 640px);

@custom-media --kocina-media-breakpoint-m-max (max-width: 959px);
@custom-media --kocina-media-breakpoint-m-min (min-width: 960px);

@custom-media --kocina-media-breakpoint-l-max (max-width: 1199px);
@custom-media --kocina-media-breakpoint-l-min (min-width: 1200px);

@custom-media --kocina-media-breakpoint-xl-max (max-width: 1599px);
@custom-media --kocina-media-breakpoint-xl-min (min-width: 1600px);
