# Redirects from the old website
Redirect 301 "/recepten/bietgeitenkaas-wrap" "/recepten/biet-geitenkaas-wrap"
Redirect 301 "/recepten/courgetti-met-krokante-kikkererwten" "/recepten/courgetti-met-krokante-kikkererwten-feta-en-rucola"
Redirect 301 "/recepten/hartige-taart-pompoen-spinazie-en-feta" "/recepten/hartige-taart-met-pompoen-spinazie-en-feta"
Redirect 301 "/recepten/tomaatpaprikasoep-met-parelcouscous-en-knoflooksoepstengels" "/recepten/tomaat-paprikasoep-met-parelcouscous-en-knoflook-soepstengels"
Redirect 301 "/recepten/zalm-met-pesto-van-de-bbq" "/recepten/zalm-met-pesto-en-groenten"


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
