// TODO Add a nice animation when hovering over a button.
.button {
  display: inline-block;
  transition-property: color, background-color, border-color, transform;
  border-radius: 10rem;
  background-color: #eaecf0;
  padding: 0.75rem 1.5rem;
  color: #4a4a4a;
  font-size: 0.9rem;

  &:hover:not(:disabled) {
    background-color: #b4b4b6;
    transform: scale(1.05);
  }
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover:not(:disabled) {
    background-color: #e9351f;
    color: var(--color-white);
  }
}

.button-outline {
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 50%;
  color: var(--color-primary);
  text-align: center;
  transition-property: background-color, border-color, color, opacity;
  transition-duration: var(--transition-duration-250);
  transition-timing-function: var(--transition-timing-hover);

  &:disabled {
    color: var(--color-black);
    opacity: 0.7;
  }

  &:hover:not(:disabled) {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
  }

  &:has(:checked) {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
      opacity: 0.8;
    }
  }

}

.button-icon {
  width: 1.75rem;
  padding: 0;
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 1rem;
    aspect-ratio: 1;
  }
}
