.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  min-width: 300px;
  max-width: var(--kocina-breakpoint-xl);
}

@media (--kocina-media-breakpoint-s-min) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (--kocina-media-breakpoint-m-min) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.container::before,
.container::after {
  display: table;
  content: "";
}

.container::after {
  clear: both;
}

.container > :last-child {
  margin-bottom: 0;
}

.container .container {
  padding-right: 0;
  padding-left: 0;
}
