.footer {
  margin: 1rem auto;
  color: var(--color-gray);
  font-size: 0.9rem;

  @media (--kocina-media-breakpoint-m-min) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-text {
  margin-bottom: 1rem;
  @media (--kocina-media-breakpoint-m-min) {
    flex-grow: 1;
  }
}
