.recipe-card {
  position: relative;
}

.recipe-card-link {
  display: block;
  transition-property: color, outline-offset, transform;
  border-radius: 0.5rem;

  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    // Position and z-index are set to make sure the focussed element is showed about hovered items.
    position: relative;
    z-index: 1;
    outline-offset: 0.75rem;
  }
}

.recipe-card-media {
  border-radius: 0.75rem;
  background-color: rgb(210, 210, 210);
  overflow: hidden;
}

.recipe-card-image,
.recipe-card-image-placeholder {
  filter: brightness(0.8);
  transition:
    filter var(--transition-duration-250) var(--transition-timing-function-default),
    transform var(--transition-duration-250) var(--transition-timing-function-default);
  aspect-ratio: 30 / 17;
  object-fit: cover;

  .recipe-card-link:hover & {
    transform: scale(1.1) rotate(2deg);
    filter: brightness(1);
  }
}

.recipe-card-image-placeholder {
  color: rgb(180, 180, 180);

  .recipe-card-link:hover & {
    filter: brightness(0.8);
  }
}

.recipe-card-title {
  display: -webkit-box;
  transition: color var(--transition-duration-250) var(--transition-timing-function-default);
  margin: 1rem 0 0.25rem;
  max-width: 400px;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: balance;

  @media (--kocina-media-breakpoint-m-min) {
    font-size: 1rem;
  }

  .recipe-card-link:hover & {
    color: var(--color-primary);
  }
}

.recipe-card-edit {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  transition: transform var(--transition-duration-250) var(--transition-timing-function-default);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.25rem;
  width: 1.5rem;
  color: var(--color-white);

  svg {
    transition: fill var(--transition-duration-250) var(--transition-timing-function-default);
    fill: white;
  }

  &:hover {
    transform: scale(1.2) rotate(365deg);

    svg {
      fill: var(--color-primary);
    }
  }
}
