.recipes {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 1rem;

  @media (--kocina-media-breakpoint-s) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (--kocina-media-breakpoint-m) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
