.recipes {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;

  @media (--kocina-media-breakpoint-s-min) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (--kocina-media-breakpoint-m-min) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
  }
}

.recipes-page > * + * {
  margin-top: 2rem;
}

.recipes-title {
  margin: 0;
  align-self: center;
  grid-column: 1 / -1;

  @media (--kocina-media-breakpoint-s-min) {
    grid-column: 1;
    order: -1;
  }
}

.recipes-search {
  align-self: center;
  grid-column: 1 / 3;

  @media (--kocina-media-breakpoint-s-min) {
    grid-column: 2 / 4;
    order: 0
  }

  @media (--kocina-media-breakpoint-m-min) {
    grid-column: 2 / 5;
  }
}
