.search-bar-form {
  display: flex;
}

.search-bar-field {
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: #f9f5f4;
  padding: 0.75rem 0 0.75rem 1rem;
  width: 100%;
  scroll-margin-top: 5rem;
  color: #4a4a4a;
  font-size: 0.9rem;
  font-family: inherit;

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

.search-bar-field:focus,
.search-bar-clear-button:focus {
  position: relative;
}

.search-bar-clear-button,
.search-bar-submit-button {
  background-color: #f9f5f4;

  svg {
    transition: transform var(--transition-duration-250) var(--transition-timing-function-default);
  }

  &:hover {
    cursor: pointer;

    svg {
      transform: scale(1.4);
    }
  }
}

.search-bar-clear-button,
.search-bar-filter-button,
.search-bar-submit-button {
  border: none;
  padding: 0.75rem;
}

.search-bar-submit-button {
  border-radius: 0 6px 6px 0;
}

.search-bar-filter-button {
  border: none;
  border-radius: 6px;
  background-color: transparent;
}
